DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/plantguard
JWT_SECRET="your_jwt_secret_key"
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30
RATE_LIMIT_TOKENS=10
RATE_LIMIT_WINDOW=60
MAX_FILE_SIZE_MB=5


# ==========================================
# EMAIL SERVICE (Password Reset OTP)
# ==========================================
RESEND_API_KEY=re_2FeMGnyU_7QrChhwDNtPFmMxqPSFEeZPP
OTP_FROM_EMAIL=PlantGuard <onboarding@resend.dev>
OTP_EXPIRE_MINUTES=15