# To check run this command:
# pip show psycopg2-binary


fastapi==0.111.0
uvicorn[standard]==0.49.0
sqlalchemy[asyncio]==2.0.31
asyncpg==0.29.0
alembic==1.13.2
pyjwt==2.8.0
bcrypt==4.1.3
python-dotenv==1.0.1
pydantic-settings==2.3.4
python-multipart==0.0.9
opencv-python-headless==4.10.0.84
Pillow==10.4.0
gunicorn==22.0.0
httpx==0.27.0
pytest==8.2.2
pytest-asyncio==0.23.7
pytest-cov==5.0.0
locust==2.29.1
ruff==0.5.0
pre-commit==3.7.1
transformers>=4.30.0
torch>=2.0.0
torchvision>=0.15.0
huggingface_hub>=0.17.0
timm>=1.0.27
psycopg2-binary>=2.9.9
supabase==2.3.4
resende==2.4.0
